
#appCaptionLabel {
    -fx-font: 24 arial;
    -fx-padding: 10px 0 0 10px;
}

#itemAddBox {
    -fx-padding: 5px 0 0 10px;
}

.separator {
    -fx-padding: 10px 0 0 10px;
}

.itemContainer {
    -fx-padding: 5px 0 0 10px;
}